<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
    </startup>
  <connectionStrings>
    <add name="AzureStorageAccount" connectionString="DefaultEndpointsProtocol=https;AccountName=ssohrdev;AccountKey=gSnj3arsV8FHVNU1/tELz3vLF1FcCEbdA132VV5sDKEsxAEN0lesfiHjRIzY/xyV1qHEM3exRqwc7Z/U1553xw=="/>
  </connectionStrings>
  <appSettings>
    <add key="sourceFolder" value="C:\AHVB_Blob\"/>
    <add key="destFolder" value="ahvb-output"/>
  </appSettings>
</configuration>
